.name {
  display: flex;


  svg {
    margin-left: 15px;
  }
}

header {
  display: flex;
  justify-content: space-between;

  a {
    margin-left: 7em;

  }
}





.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
