@import "variables";
@import "font";

body {
  margin: 0;
  padding: 0;
}

// Name + Toggle switch
.name {
  display: flex;

  text-decoration: none;
  color: $Black;

    span {
      font-family: 'Proxima-Nova', Helvetica, Arial, sans-serif;
      font-weight: Bold;
      font-size: 16px;
    }

  svg {
    margin-left: 15px;
    stroke: $Black;
    circle {
      fill: $Black;
      transition: 0.5s;
    }
  }
  svg:hover {
    circle{
      transform: translateX(2px);
    }
  }
}


// Upper Banner
header {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 10px;


  .mail {
    text-decoration: none;
    color: $Black;

    font-family: "Proxima-Nova", Helvetica, Arial, sans-serif;
    font-weight: Bold;
    font-size: 16px;
  }
}





.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
