@import "reset";
@import "variables";
@import "font";
@import "cross";
@import "progressBar";

body {
  color: $white;
  font-family: $satoshi;
}

.header-container {
  background-color: $black;
  display: flex;
  justify-content: space-between;
  padding: 33px 10%;

  .title-container {
    display: flex;
    align-items: center;

    .logo {
      order: -1;
      margin-right: 7px;
    }

    .title-content {
      text-decoration: none;
      color: inherit;
      font-size: 25px;
      font-weight: bold;
    }
  }

  .menu-container {
    width: 45%;

    .menu-list {
      display: flex;
      justify-content: space-between;

      .menu-item {
        &:nth-child(2),
        &:nth-child(3) {
          margin-left: 10%;
        }

        &:last-child {
          margin-left: 30%;
        }

        .menu-links {
          text-decoration: none;
          color: inherit;
          font-weight: 500;
        }

        .header-button {
          font-weight: bold;
          font-size: 16px;
          padding: 14px 30px;
          border: 1px $white solid;
          border-radius: 50px;

        }

      }
    }
  }
}

.banner-container {
  background-color: $green;

  .cross-container {
    display: flex;
    justify-content: space-between;

    .cross-button {
      margin: 0 5% 0 0;
    }

    #content {
      font-size: 18px;
      font-weight: 600;
      margin: 15px 0 15px 10%;
      order: -1;

      .banner-github {
        text-decoration: none;
        color: inherit;
        font-size: 20px;
        font-weight: bold;
      }

    }
  }
}

.main-container {
  background-color: $black;
  display: flex;
  align-items: center;
  flex-direction: column;

  .main-title {
    text-align: center;
    font-size: 72px;
    line-height: 110%;
    font-weight: 700;
    margin-top: 96px;
    margin-bottom: 30px;
  }

  .sub-title {
    font-size: 28px;
    font-weight: 500;
    line-height: 150%;
    color: $dark-grey;
    margin-bottom: 55px;
  }

  .main-content {
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;
    margin-bottom: 20px;
    color: $dark-grey;

  }

  .main-button-container {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;

    & li:last-child .main-button {
      background-color: $white;
      font-weight: 500;
      color: $blue;
      padding: 24px 38px;
    }
  }

  .main-button {
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    padding: 24px 116px;
    border-radius: 50px;
    background-color: $blue;
    color: $white;
  }

  .main-image {
    width: 200px;
    min-height: 400px;
    rotate: 67deg;
  }
}


.skills-container {
  background-color: $black;
  padding-top: 6em;
  padding-bottom: 6em;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, minmax(25em, 31.25em));
  column-gap: 7.5em;
  border-top: 1px $grey solid;

  .skills-title {
    margin-top: 0;
    margin-bottom: 35px;
    font-size: 42px;
    font-weight: 700;
    line-height: 120%;
  }

  .skills-list {
    display: grid;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    .skills-item {
      width: 80px;
      aspect-ratio: 1;
      display: flex;
      justify-content: center;
      background-color: $item-blue;
      border-radius: 7px;
    }

    .skills-item:last-child {
      background-color: $grey;
    }
  }
}

.skills-image {
  width: 40px;
  aspect-ratio: 1;
}


.article-item {
  &:first-child,
  &:nth-child(2) {
    margin-bottom: 35px;
  }
}

.article-content {
  font-size: 20px;
  color: $dark-grey;

}

.contact-container {
  background-color: $item-blue;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, minmax(25em, 31.25em)); //400px , 500px
  padding-top: 3.5em; //56px
  padding-bottom: 3.5em; //56px

  .contact-title {
    margin-top: 0;
    font-size: 2.625em; //42px
    margin-bottom: 1.380952381em; //58px
    font-weight: 700;
    line-height: 120%;
  }

  .contact-details {
    margin-top: 0;
    font-size: 0.5625em; //9px
    font-weight: 500;
    line-height: 10px;
    color: $grey;

    .contact-emphasize {
      font-weight: bold;
      line-height: 10px;
      color: $white;
    }

  }

  .contact-form {
    margin-top: 12px;
    margin-bottom: 15px;

    .c-input {
      width: 55%;
      padding: 15px 20px;
      background-color: $dark-blue;
      border: 1px $light-grey solid;
      border-radius: 5px;
      margin-right: 1%;

      &::placeholder {
        font-family: $satoshi;
        font-weight: bold;
        color: $white;
      }

      &:focus {
        border: 1px $blue solid;
        caret-color: $white;
        outline: 0;
      }
    }

    .c-submit {
      text-decoration: none;
      width: 34%;
      padding-top: 12px;
      padding-bottom: 13px;
      font-family: $satoshi;
      font-size: 17px;
      font-weight: 500;
      border-radius: 50px;
      line-height: 120%;
      border: none;
      background-color: $blue;
      color: $white;
    }
  }
}


.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// style du logo T
.cls-1 {
  fill: none;
  stroke-miterlimit: 10;
}

.cls-1, .cls-2 {
  stroke: #fff;
}

.cls-2 {
  fill: #fff;
}


// affichage burger menu et vertical
@media screen and (min-width: 990px) {

}
