@import "variables";
@import "font";
@import "reset";

body {
  color: $white;
}

.header-container {
  background-color: $black;
  display: flex;
  justify-content: space-around;
  padding: 33px 50px;

  .title-container {
    display: flex;
    align-items: center;

    .logo {
      order: -1;
      margin-right: 7px;
    }

    .title-content {
      text-decoration: none;
      color: inherit;
      font-family: $satoshi;
      font-size: 25px;
      font-weight: bold;
    }
  }

  .menu-container {
    width: 40%;

    .menu-list {
      display: flex;
      justify-content: space-between;

      .menu-item {
        &:nth-child(2),
        &:nth-child(3) {
          margin-left: 4%;
        }
        &:last-child {
          margin-left: 10%;
        }

        .menu-links {
          text-decoration: none;
          color: inherit;
          font-family: $satoshi;
          font-size: 18px;
          font-weight: 500;
        }
        .header-button {
          font-weight: bold;
          padding: 15px 16px;
          border: 2px $white solid;
          border-radius: 9px;
        }

      }
    }
  }
}

.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.cls-1 {
  fill: none;
  stroke-miterlimit: 10;
}

.cls-1, .cls-2 {
  stroke: #fff;
}

.cls-2 {
  fill: #fff;
}


@media screen and (min-width: 1500px) {
  .menu-container {
    width: 50%;
  }
}
