
// Colors

$white: #fff;
$black: #0B0E18;
$dark-blue: #1F2330;
$blue: #0157FF;
$hover-blue: #281CA5;
$hover-blue-var2: #3d7cf8;
$hover-blue-var3: #0047FF;
$nav-links-hover: rgba(255, 255, 255, .75);
$light-grey: #DBDBDB;
$dark-grey: #C2C2C2;
$green: #05C874;
$grey: #474A53;
$item-blue: #171A24;
$footer-black: #01030f;

// fonts

$satoshi: 'Satoshi', Montserrat, Helvetica, Arial, sans-serif;

// Font Path

$path-satoshi: "../../font/Satoshi/Satoshi-Variable.ttf";


//

@mixin title {
  text-align: center;
  font-size: 4.5em; //72px
  line-height: 110%;
  font-weight: 700;
}
@mixin title-990 {
  text-align: center;
  font-size: 3em; //48px
  line-height: 100%;
  font-weight: 900;
}
@mixin subtitle {
  font-size: 1.75em; //28px
  font-weight: 500;
  line-height: 150%;
  color: $dark-grey;
}

@mixin project {
  color: $blue;
  font-size: 1.125em; //18px
  font-weight: 500;
  line-height: 150%;
}

@mixin project-title {
  font-size: 3em; //48px
  font-weight: bold;
  line-height: 120%;
}
@mixin project-title-990 {
  text-align: center;
  font-size: 2em; //32
}

@mixin text {
  font-size: 1.25em; //24px
  line-height: 120%;
  color: $dark-grey;
}
@mixin text-990 {
  font-size: 1em;
  line-height: 120%;
  text-align: center;
  color: $dark-grey;
}

@mixin p-item-text {
  text-align: center;
  margin-top: 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
}

@mixin item {
    width: 80px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    background-color: $item-blue;
    border-radius: 7px;
}


.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
