
// Colors

$white: #fff;
$black: #0B0E18;
$dark-blue: #1F2330;
$blue: #0157FF;
$hover-blue: #281CA5;
$hover-blue-var2: #3d7cf8;
$hover-blue-var3: #0047FF;
$nav-links-hover: rgba(255, 255, 255, .75);
$light-grey: #DBDBDB;
$dark-grey: #C2C2C2;
$green: #05C874;
$grey: #474A53;
$item-blue: #171A24;

// fonts

$satoshi: 'Satoshi', Montserrat, Helvetica, Arial, sans-serif;

// Font Path

$path-satoshi: "../../font/Satoshi/Satoshi-Variable.ttf";


//

@mixin title {
  text-align: center;
  font-size: 4.5em; //72px
  line-height: 110%;
  font-weight: 700;
}

@mixin subtitle {
  font-size: 1.75em; //28px
  font-weight: 500;
  line-height: 150%;
  color: $dark-grey;
}

@mixin project {
  color: $blue;
  font-size: 1.125em;
  font-weight: 500;
  line-height: 150%;
}

@mixin project-title {
  font-size: 3em; //48px
  font-weight: bold;
  line-height: 120%;
}

@mixin text {
  font-size: 1.25em;
  line-height: 120%;
  color: $dark-grey;
}
