
// Colors

$white: #fff;
$black: #0B0E18;
$dark-blue: #1F2330;
$blue: #0157FF;
$light-grey: #DBDBDB;
$dark-grey: #C2C2C2;
$green: #05C874;
$grey: #474A53;

// fonts

$satoshi: 'Satoshi', Montserrat, Helvetica, Arial, sans-serif;

// Font Path

$path-satoshi: "../../font/Satoshi/Satoshi-Variable.ttf";
